:root {
  --ea-theme-color: #255af6;
  --ea-font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--ea-font-family);
}
/*** INIZIO NAVBAR ***/

.logoContainer {
  display: flex;
  padding: 0 32px 0 0;
  gap: 20px;
}

.bannerTop {
  background-color: #161616;
  width: 100%;
  min-width: 270px;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  z-index: 3000;
}

.showBanner {
  position: sticky;
  top: 0;
}

.profileIcon {
  box-sizing: border-box;
  padding: 3px;
}

.helpButton {
  box-sizing: border-box;
  padding: 3px;
}

.eaIcon {
  box-sizing: border-box;
  padding: 3px;
}

.eaIcon:hover {
  filter: brightness(1.3);
  cursor: pointer;
}

.helpButton:hover {
  filter: brightness(1.3);
  cursor: pointer;
}

.profileIcon:hover {
  filter: brightness(1.3);
  cursor: pointer;
}

.nav {
  display: flex;
  width: 100%;
  position: sticky;
  height: 60px;
  background-color: #ffffff;
  top: 0;
  z-index: 999;
}

.navSidebarOpen {
  background-color: #ffffff;
  display: flex;
  width: 100%;
  position: fixed;
  height: 60px;
  top: 0;
  z-index: 1000;
  margin-top: 40px;
}

.hamburgerMenu {
  display: flex;
  flex-direction: column;
  width: 10px;
  gap: 4px;
  justify-content: center;
  margin-left: 25px;
  cursor: pointer;
}

.hamburger {
  background-color: black;
  width: 4.5px;
  border-radius: 120px;
  height: 4.5px;
}

.hamburgerMenu:hover .hamburger {
  background-color: var(--ea-theme-color);
}

.hamburgerMenu:hover {
  transform: scale(1.3);
  transition: transform 0.8;
  transition: 1 ease;
  transition-duration: 0.4s;
  transition-delay: 0.5ms;
}

.ulContainer {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin-left: 55px;
  align-items: center;
  gap: 20px;
}

.navItem {
  cursor: pointer;
}

.navItem > a {
  text-decoration: none;
  color: #161616;
  font-weight: 500;
  margin-right: 0;
}

.navItem > a:hover {
  color: var(--ea-theme-color);
}

.eaLogo {
  width: 220px;
  height: 60px;
  box-sizing: border-box;
  cursor: pointer;
  margin-left: 36px;
  align-self: center;
}

.chevronContainer:hover {
  transition: transform 0.3s;
  transform: rotate(180deg);
}

.card-navbar {
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  padding: 20px;
  background: rgba(255, 255, 255, 1.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  max-height: fit-content;
  /* margin-top: 30px; */
  /* z-index: 2000; */

  transition: all 0.2s ease;
}

.card-column {
  position: absolute;
  top: 100%;
  left: 0;
  width: 400px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.9); /* anche questo sistemato */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  max-height: fit-content;
  /* margin-top: 30px; */
  transition: all 0.2s ease;
  display: flex;
  gap: 50px;
}

.navItem:hover .card-column {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.navItem {
  position: relative;
}

.navItem:hover .card-navbar {
  opacity: 0.9;
  transform: translateY(0);
  pointer-events: auto;
}

.card-navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card-navbar li {
  margin: 12px 0;
  color: black;
}

.card-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card-column h4 {
  color: black;
}

.card-column li {
  margin: 12px 0;
  color: #444;
  font-size: 16px;
}

.card-navbar a {
  text-decoration: none;
  color: #444;
  font-size: 16px;
  transition: color 0.2s ease;
}

.card-navbar a:hover {
  color: var(--ea-theme-color);
}

.card-column li:hover {
  color: var(--ea-theme-color);
}

/* .chevronContainer:hover .chevron {
  color: var(--ea-theme-color);
} */

.chevronContainer {
  margin-top: 8px;
}

/*** FINE NAVBAR ***/

/* RESPONSIVE */

@media (max-width: 1032px) {
  .navItem {
    display: none;
  }
  .hamburger {
    width: 20px;
    height: 1.7px;
  }
  .eaLogo {
    width: 133px;
    height: 24px;
  }
}
@media (max-width: 1110px) {
  .ulContainer {
    gap: 7px;
    margin-left: 0px;
  }
}
