.containerUltimeNovita {
  width: 100%;
}
.card {
  width: 100%;
  align-self: center;
}
.itemsContainer {
  margin: 0;
}

@media (min-width: 1024px) {
  .containerCards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-self: center;
  }
  .card {
    width: 357px;
    height: 542px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .containerCards {
    display: flex;
    flex-direction: row;
  }
  .card {
    width: 90%;
    height: 542px;
  }
}
@media (max-width: 1024px) {
  .containerCards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto);
    width: auto;
  }
}

@media (max-width: 768px) {
  .containerCards {
    grid-template-columns: 1fr;
    width: auto;
    margin: 0 auto;
    margin-right: 17px;
  }
  .card img {
    display: none;
  }
  .containerUltimeNovita {
    width: 100%;
  }
  .card {
    align-self: center;
    width: 100%;
    text-align: center;
    height: 100%;
  }
  .itemsContainer {
    display: flex;
    flex-direction: column;
  }
  .card p {
    display: none;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 10px -2px;
  box-sizing: border-box;
  color: #161616;
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 26px;
}

.itemsContainer {
  margin: 18px;
}

.containerUltimeNovita {
  justify-self: center;
}

.containerCards {
  display: grid;
  gap: 17px;
  margin-top: 64px;

  margin-left: 17px;
  justify-items: center;
}

.logoEa {
  color: #255af6;
  font-weight: 600;
  font-size: 14px;
}

.releaseDate {
  font-weight: 600;
  font-size: 14px;
  margin-left: 10px;
}

.titoloUltimeNovita,
.piuDettagli {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.titoloUltimeNovita {
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 35px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.piuDettagli {
  margin-top: 60px;
  padding-bottom: 16px;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 16px;
  width: 160px;
  border: solid black 2px;
  background-color: unset;
  border-radius: 3px;
  margin-bottom: 60px;
  font-size: 17px;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 15px 30px;
  cursor: pointer;
  transition: 1 ease;
  transition-duration: 0.6s;
  transition-delay: 30ms;
}

.piuDettagli:hover {
  transform: scale(1.05);
  transition: 0.3 ease;
  transition-duration: 0.3s;
  transition-delay: 10ms;
  cursor: pointer;
}
